html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.App {
  align-items: center;
  background-color: #AE02E3;
  display: flex;
  height: 100%;
  justify-content: center;
}

.messages {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: -40px;
}
